@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");


body {
    background:  #e5e5e5 ;
    font-family: "Lato", sans-serif;
    
}

#titulo{
    font-size: 50px;
    padding: 19px;
    text-align: center;
    background-image: url(imagens/background.png);
    
}

#nav-bar{
    font-size: 20px;
    background:#333333;
    color: white;
    padding: 19px ;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    width:98%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    

}

#card-id {
    background: white;
    border-radius: 15px;
    width: 98%;
    margin: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;


}

#main{
    display: flex;
}

#cor1 {
    color: #eda011; text-decoration: none;

}

