@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");


body {
    background: #ccccbb ;
    font-family: "Lato", sans-serif;
    
}

#nav-bar{
    font-size: 20px;
    background: #9ec4bb;
    color: white;
    padding: 19px ;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    width:98%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    

}